<a href="https://colab.research.google.com/github/sahana-krishnaraj/ds-1002/blob/main/Copy_of_week_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [ ]:
from IPython.core.interactiveshell import no_op
# code here
variable=0
while variable <= 20:
  if variable%2 == 0:
    print('even')
  variable += 1

even
even
even
even
even
even
even
even
even
even
even

In [ ]:
# Use this list in the exercises below
mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [ ]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.
for i in mylist:
  if i > 0:
    print(i)

9
15
23
4
92
47
33
17
18
38

In [ ]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.
for i in mylist:
  print(abs(i))

9
15
23
4
92
47
33
17
4
18
38
242

In [ ]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]
for i in mylist:
  if 20 < i < 40:
    continue
  else:
    print(i)

9
15
4
92
47
17
-4
18
-242

## For-Loops with Dictionaries

In [ ]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [ ]:
# Write a command to print out all the keys of this dict
key = capitals.keys()
key

dict_keys(['United States', 'Italy', 'England', 'Thailand', 'Brazil'])

In [ ]:
# Write a command to print out all the values of this dict
for value in capitals.values():
  print(value)

Washington DC
Rome
London
Bangkok
Brasilia

In [ ]:
# Write a command to print all the keys and values for this dict
for key,value in capitals.items():
  print(key,value)

United States Washington DC
Italy Rome
England London
Thailand Bangkok
Brazil Brasilia

In [139]:
# Write a command to print only the first three values and NOTHING more.
n = 0
for i in capitals.values():
  n += 1
  if n <= 3:
    print(i)
  else:
    break

Washington DC
Rome
London